.header{
    background-image: url(../img/bridge.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 70vh;
    margin: 0;
    padding-top: 50vh;
}
.heading {
    color: #ffffff;
    vertical-align: bottom;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
    transform:
            rotate(-10deg)
            skew(-10deg);
    text-align: center;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.top-right-fixed{
    top: 1em;
    color: black;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}

.section{
    margin: 2em auto 0;
    max-width: 1000px;
    padding: 1em 2.4em;
    text-align: center;
    font-family: 'Handlee', sans-serif;
    font-size: 16px;
    color: #222;
}
.sub-heading{
    font-family: 'Marck Script', cursive;
    font-size: 3em;
}
.details{
    margin: 0 auto;
}

.details-standalone{
    margin: 2em auto;
    text-align: center;
    font-family: 'Handlee', sans-serif;
}

.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image {
    width: 100%
}
.room-image {
    width: 70%
}





.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 2em auto;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}





@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }
