

$rsvp-base-colour: #CCDDCC;
$rsvp-button-colour: #CCCCFF; 
$wedding-site-bg-colour: #faf3ee;
$white: #ffffff;

// Override bootstrap variables
$nav-tabs-link-active-bg: lighten($rsvp-base-colour, 10%);
$nav-tabs-link-active-color: darken($rsvp-base-colour, 30%);
$nav-link-color: darken($rsvp-base-colour, 30%);
$nav-tabs-border-width: darken($rsvp-base-colour, 30%);

$nav-tabs-border-color: darken($rsvp-base-colour, 30%);
$accordion-button-active-bg: lighten($rsvp-base-colour, 10%);
$accordion-button-active-color: darken($rsvp-base-colour, 30%);
$accordion-button-color: darken($rsvp-base-colour, 30%);

$accordion-bg: rgba(255, 255, 255, 0);
$input-bg: $white;//rgba(255, 255, 255, 0);

$body-bg: $wedding-site-bg-colour;

/* import the Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";


.btn-navy{
  @include button-variant($rsvp-button-colour, darken($rsvp-button-colour, 7.5%), darken($rsvp-button-colour, 10%), lighten($rsvp-button-colour,5%), lighten($rsvp-button-colour, 10%), darken($rsvp-button-colour,30%));
}

.btn-outline-navy {
  @include button-outline-variant($rsvp-button-colour, #222222, lighten($rsvp-button-colour,5%), $rsvp-button-colour);
}


.accordion-button {
  font-family: 'Handlee', sans-serif;
}

.rsvp {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em 2.4em;
  font-family: 'Handlee', sans-serif;
}

.invite-id-input {
  max-width: 300px !important;

  margin: auto;
}

.invitation {
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
}


.invitation-text {
  padding: 0.5em;
  font-family: 'Handlee', sans-serif;
}

h4 {
  font-family: 'Marck Script', cursive;
  text-align: center;
}

.with-padding {
  padding: 0.5em;
}

.with-vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tiny-link {

  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 0.8em !important;
  //float :right;
}

.footer {
  padding: 3em
}

.invitation-footer {
  padding: 0.5em
}

.centre-align {
  align-self: center !important;
}

dl {
  margin-bottom: 0;
}

dd {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
